body{
background:#f0f2f5;
margin:0;
font-family:Arial;
}

.container{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
gap:100px;
}

.left h1{
color:#1877f2;
font-size:60px;
}

.right{
background:white;
padding:30px;
border-radius:10px;
box-shadow:0 0 10px gray;
display:flex;
flex-direction:column;
width:300px;
}

input{
padding:12px;
margin:10px 0;
}

button{
background:#1877f2;
color:white;
padding:12px;
border:none;
border-radius:6px;
}

.create{
background:#42b72a;
}