body{
    background-color: rgb(228, 179, 115);
    p{
        color:orangered ;
        border: 2px solid rgb(159, 36, 83);
    }
}
p{
        color:rgb(255, 0, 179) ;
        border: 2px solid rgb(191, 243, 6);
    }
